html, body {
    margin: 0;
    height:100%;
    width:100%;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
    overflow: hidden;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#gameField {
    background-color: #000;
}

.full-screen {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.point {
    position: absolute;
    height: 6px;
    width: 6px;
    z-index: 0;
    border-radius: 3px;
    filter: blur(1px);
}

.moving-point {
    position: absolute;
    height: 6px;
    width: 6px;
    z-index: 0;
    border-radius: 3px;
    filter: blur(1px);
}

.dashboard {
    font-family: monospace;
    font-size: 10px;
    position: absolute;
    color: lightgreen;
    background-color: darkgreen;
    border: 1px solid green;
    border-radius: 3px;
    width: 200px;
    height: 16px;
    right: 0;
    top: 0;
    padding: 3px 5px;
    display: flex;
    flex-direction: row;
    flex: 1 auto;
    align-items: center;
}

.dashboard > * {
    flex: 1 auto;
}